<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ajouter un panier</title>
        
    </head>
    <body>
        {{ form_start(form) }}

        {{ form_row(form.cartQuantity) }}
        {{ form_row(form.cartPrice) }}
        
        <button type="submit">Enregistrer</button>
        
        {{ form_end(form) }}

        {{ form_errors(form) }}

        <a href="{{ path('cart_index') }}">Retour à l'index</a>
        
    </body>
</html>
