<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>L'index</title>
        
    </head>
    <body>
        <ul>
        {% for tutorial in tutorial %}
            <a href="{{ path('tutorial_view' , {'id' : tutorial.id}) }}">
            
            <li>Nom du tutorial: {{ tutorial.tutorialName }} - Date du tutorial : {{ tutorial.tutorialDate }} - Nom de m'utilisateur : {{ tutorial.tutorialUser}}</li>   
        {% endfor %}

        <a href="{{ path('tutorial_add') }}"><button>Ajouter un tutorial</button></li> 

        </ul>
    </body>
</html>

