<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ajouter un itineraire </title>
        
    </head>
    <body>
        {{ form_start(form) }}

        {{ form_row(form.locationName) }}
        {{ form_row(form.locationPoint) }}
        {{ form_row(form.locationDistance) }}
        {{ form_row(form.locationCountry) }}
        {{ form_row(form.locationItinerary) }}

        <button type="submit">Enregistrer</button>
    
        {{ form_end(form) }}

        {{ form_errors(form) }}

        <a href="{{ path('location_index') }}">Retour à l'index</a>
        
    </body>
</html>
