<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>L'index</title>
        
    </head>
    <body>
        <ul>
        {% for product in product %}
            <a href="{{ path('product_view' , {'id' : product.id}) }}">
            
            <li>Nom du produit : {{ product.productName }} - Photo du produit : {{ product.productPicture }} -
                Prix du produit : {{ product.productPrice }} - Description du produit : {{ product.productDescription }} -
                Couleur du produit : {{ product.productColor }} - Taille du produit : {{ product.productSize }}</li>   
        {% endfor %}

        <a href="{{ path('event_add') }}"><button>Ajouter un produit</button></li> 

        </ul>
    </body>
</html>


