<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Affichage du produit {{ product.productName }} </title>
        
    </head>
    <body>
        
            <h1>{{ product.productName }}</h1>
            <p>{{ product.productPicture }}</p>
            <p>{{ product.productPrice }}</p>
            <p>{{ product.productDescription }}</p>
            <p>{{ product.productColor }}</p>
            <p>{{ product.productSize }}</p>

            <a href="{{ path('product_edit' , {'id' : product.id}) }}"><button>Modifier le produit</button></a>

            <a href="{{ path('product_delete' , {'id' : product.id}) }}"><button>Supprimer le produit</button></a>
        
    </body>
</html>
