<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% extends "app.scss" %}
        <title>L'index</title>
        
    </head>
    <body>
        <ul>
        {% for user in user %}
            <a href="{{ path('user_view' , {'id' : user.id}) }}">
            
            <li>Nom : {{ user.userName }} - Description : {{ user.userDescription }} - Âge : {{ user.userAge }}</li>   
        {% endfor %}

        <a href="{{ path('user_add') }}"><button>Ajouter un utilisateur</button></li> 

        </ul>
    </body>
</html>

