{% extends "base.html.twig" %}
{% block content %}

    <h1>{{ user.userName }}</h1>
    <p>{{ user.userAge}}</p>
    <p>{{ user.userDescription}}</p>
            
            
    <a href="{{ path('user_edit' , {'id' : user.id}) }}"><button>Modifier l'utilisateur</button></a>

    <a href="{{ path('user_delete' , {'id' : user.id}) }}"><button>Supprimer l'utilisateur</button></a>

{% endblock %}
